@import url("https://fonts.cdnfonts.com/css/nexa-bold");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Nexa, sans-serif;
}

.navbar {
  background-color: white;
  display: flex;
  width: 100%;
  height: 80px;
  box-shadow: 0 5px 8px rgba(135, 135, 135, 0.2);
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}
/* .logo {
  } */
.nav-items {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
}
.item > a {
  color: black;
}
.item {
  padding: 0 25px;
}
.icons {
  margin: 0 5px;
}
.nav-btn {
  background-color: #b1e50e;
  border: none;
  border-radius: 6px;
  padding: 16px 22px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}

/* background design */

.box-container {
  position: relative;
  display: grid;
  border-radius: 25px;
  overflow: hidden;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(1, 1fr);
  background: linear-gradient(
    180deg,
    rgba(223, 232, 255, 1),
    rgba(255, 255, 255, 0)
  );
}
.box-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
  pointer-events: none;
}

.box {
  border: none;
  height: 75px;
  width: 75px;
  border:1px solid rgb(219, 223, 234);
  transition: background-color 1s ease-in-out, color 2s ease-in-out;
}

.box:hover {
  background-color: #d8d8d8d7;
  cursor: pointer;
  transition: background-color 0.09s ease-in, color 0.1s ease-in;
}

.hero-text {
  position: absolute;
  top: 22%;
  left: 11%;
  pointer-events: none;
}

.hero-head1 {
  font-size: 85px;
  font-weight: 700;
  margin-top: 60px;
  font-family: sans-serif;
}
.hero-head2 {
  font-size: 85px;
  font-weight: 700;
  margin-top: 10px;
  color: #6b92fb;
  font-family: sans-serif;
}

.hero-para {
  margin-top: 8%;
  font-weight: 700;
  font-size: 32px;
  width: 960px;
  line-height: 44px;
  color: #494b57;
  font-family: sans-serif;
}

.hero2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding: 0 5%;
  height: 100vh;
}
/* .hero-img-box {
} */

.hero2-text {
  width: 450px;
}
.hero2-head {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 30px;
}
.hero2-desc {
  font-weight:600;
  font-size: 1em;
  line-height: 1.5;
}
.advantages {
  display: flex;
  height: 100%;
}
.adv {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  max-width: 1200px;
  height: 400px;
  margin: auto;
  margin-bottom: 10%;
}
.adv-head {
  color: #494b57;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 60px;
}
.cards {
  display: flex;
}
.card {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin-right: 50px;
}
.adv-img-box {
  display: flex;
  justify-content: flex-start;
  width: 200px;
  height: 140px;
  margin-bottom: 20px;
}
.adv-img {
  width: 100%;
}
.adv-desc {
  color: #494b57;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  padding-left: 20px;
}
.app-but{
  background-color: rgb(18, 19, 24);
  color:rgb(253, 253, 243);
  border-radius: 5px;
  padding: 0 10px;
  width:175px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin-top: 95px;
}